@font-face {
    font-family: 'Inter_b';
    src: url('../fonts/inter/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter_r';
    src: url('../fonts/inter/Inter-Regular.otf');
}

header, footer{
    all: unset !important;
}




body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    margin: 0 !important;
    align-items: center !important;
    max-width: 1440px !important;
    margin: 0 auto !important;
    width: 100% !important;
    overflow-x: hidden !important;
}

main {
    flex: 1 !important;
    width: 100% !important;
    max-width: 1440px !important;
}




.inter_18_bold {
    font-family: 'Inter_b';
    font-size: 18px;
    margin: 0px;
}

.inter_24_bold {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0px;
}

.inter_20_bold {
    font-family: 'Inter_b';
    font-size: 20px;
    margin: 0px;
}

.inter_15_bold {
    font-family: 'Inter_b';
    font-size: 15px;
    margin: 0px;
}

.inter_24_regular {
    font-family: 'Inter_r';
    font-size: 24px;
    margin: 0px;
}

.inter_20_regular {
    font-family: 'Inter_r';
    font-size: 20px;
    margin: 0px;
}

.inter_15_regular {
    font-family: 'Inter_r';
    font-size: 15px;
    margin: 0px;
}

.inter_32_regular {
    font-family: 'Inter_r';
    font-size: 32px;
    margin: 0px;
}





h2 {
    display: flex;
    flex-wrap: wrap;
    color: #00173C;
    font-family: 'Inter_b';
    font-size: 32px;
    justify-content: center;
    margin: 60px 0px 60px;
}





header {
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    top: 10px !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px 20px 0px 20px !important;
    gap: 152px !important;
    height: 0px !important;
    max-width: 1360px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

button {
    padding: 5px 17px;
}

nav {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    gap: 80px !important;
}

nav a {
    font-family: 'Inter_r' !important;
    font-size: 16px !important;
    display: flex !important;
    flex-direction: row !important; 
    justify-content: center !important;
    align-items: center !important;
    text-decoration: none !important;
}

.nav1 {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 80px !important;
}

.nav2 {
    font-family: 'Inter_r' !important;
    font-size: 16px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    color: #00173C !important;
    gap: 5px !important;
}

.nav-button {
    font-family: 'Inter_r' !important;
    font-size: 16px !important;
    display: flex !important;
    color: white !important;
    background-color: #00173C !important;
    border: none !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.nav-button:hover {
    background-color: #003366 !important;
    transform: translateY(-2px) !important;
    box-shadow: 0 4px 8px rgba(0, 23, 60, 0.3) !important;
}


.registration-btn {
    font-family: 'Inter_r' !important;
    font-size: 16px !important;
    display: flex !important;
    color: #00173C !important;
    padding: 5px 10px !important;
    box-sizing: border-box !important;
    background-color: transparent !important;
    border: 1px solid #00173C !important;
    border-radius: 30px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.registration-btn:hover {
    background-color: #00173c1a !important;
    border: 1px solid #00173c1a !important;
}

.login-btn {
    font-family: 'Inter_r' !important;
    font-size: 16px !important;
    color: #00173C !important;
    background-color: transparent !important;
    border: none !important;
    padding: 5px 10px !important;
    border-radius: 30px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.login-btn:hover {
    background-color: #00173c1a !important;
}

.logo {
    display: flex !important;
    width: 131px !important;
    height: 47px !important;

}


/* index */

.banner {
    display: flex;
    color: white;
    background-image: url(../img/index/фонГлавная1.png);
    background-size: 1360px, 781px;
    background-position: center 0px;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: wrap;
    height: 801px;
}

.heading {
    display: flex;
    font-family: 'Inter_b';
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 109px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    text-align: center;
}

.logo2 {
    display: flex;
    width: 256px;
    height: 91px;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 397px;
    gap: 426px;
}






.info-box {
    background-color: rgb(154, 179, 218, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 30px;
    width: 523px;
    height: 227px;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.text1 {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 20px 0px 0px;
}

h1 {
font-family: 'Inter_r';
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}


.action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1px;
    background-color: rgb(0, 23, 60, 0.4);
    border-radius: 30px;
    width: 401px;
    height: 201px;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
}

.zero {
    margin: 30px 55px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    gap: 20px;
}

.img-zero {
    display: flex;
    width: 60px;
    height: 60px;
}

.text3 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter_r';
    font-size: 20px;
    color: white;
    width: 211px;
}






.action-button {
    margin: 0px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Inter_r';
    font-size: 24px;
    align-items: center;

    width: 361px;
    height: 75px;
    border-radius: 30px;
}

.action-button a {
    text-decoration: none;
}

.button-a {
    font-family: 'Inter_r';
    font-size: 24px;
    text-align: center;
    display: flex;
    color: white;
    background-color: #00173C;
    border: none;
    align-items: flex-end;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
    width: 100%;
}

.button-a:hover {
    background-color: #003366;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 23, 60, 0.4);
}

.img-arrow {
    position: relative;
    display: inline-block;
    right: 85px;
    width: 38px;
    height: 22px;
    margin: 3px;
}









.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 94px;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 234px;
    height: 400px;

}

.text-advantages1 {
    font-family: 'Inter_b';
    font-size: 20px;
    color: #00173C;
    vertical-align: text-top;
    margin: 0px 0px 3px;
}

.text-advantages2 {
    font-family: 'Inter_r';
    font-size: 15px;
    color: #6B7180;
    align-items: baseline;
    vertical-align: text-top;
}



.icon1,
.icon2,
.icon3,
.icon4 {
    display: flex;
    justify-content: flex-start;
}

.icon1 {
    width: 181px;
    height: 170px;
    margin: 0px 0px 35px;
}

.icon2 {
    width: 181px;
    height: 170px;
    margin: 0px 0px 35px;
}

.icon3 {
    width: 181px;
    height: 170px;
    margin: 0px 0px 35px;
}

.icon4 {
    width: 181px;
    height: 170px;
    margin: 0px 0px 35px;
}




.season-tickets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    margin-bottom: 60px;
}

.season-tickets-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 257px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.season-tickets-card:hover {
    transform: translateY(-5px);
}

.season-tickets-card:hover .card {
    box-shadow: 0 10px 20px rgba(0, 23, 60, 0.2);
}

.img-icon {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 1;
}

.title-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter_b';
    font-size: 24px;
    color: white;
    margin: 10px 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

.price-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter_b';
    font-size: 24px;
    color: white;
    margin: 10px 0;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 152px 0 0;
}

.discription {
    display: flex;
    justify-content: center;
    font-family: 'Inter_r';
    font-size: 15px;
    color: white;
    line-height: 1.5;
    width: 100%;
    height: 72px;
    margin: 20px 0;
    position: relative;
    z-index: 2;
}

.end-d {
    font-family: 'Inter_r';
    font-size: 15px;
    justify-content: center;
    color: #6B7180;
    margin: 10px 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #00173C;
    width: 257px;
    height: 387px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}










.banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/index/конецГлавное\(1\).png);
    background-size: 1440px, 531px;
    background-position: center;
    background-repeat: no-repeat;
    color: #00173C;
    height: 430px;
    text-align: center;
    padding: 40px 20px;
    gap: 30px;
}

.logo-banner2 {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.banner2 .inter_24_bold {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0;
    max-width: 750px;
}

.banner2 .inter_24_regular {
    font-family: 'Inter_r';
    font-size: 24px;
    margin: 0;
    max-width: 600px;
}

.banner2 .button {
    margin-top: 20px;
}

.banner2 .button button {
    font-family: 'Inter_r';
    font-size: 24px;
    color: white;
    background-color: #00173C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.banner2 .button button:hover {
    background-color: #003366;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 23, 60, 0.3);
}








footer {
    display: flex !important;
    background-color: #00173C !important;
    width: 100% !important;
    max-width: 1440px !important;
    color: white !important;
    flex-direction: column !important;
    margin-top: 20px !important;
    padding: 40px 0 20px !important;
    box-sizing: border-box !important;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-sections {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0 0 10px 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.footer-nav a {
    font-family: 'Inter_r';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contacts p {
    margin: 0;
    font-family: 'Inter_r';
    font-size: 15px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin: 0 20px;
}

.footer-bottom p {
    font-family: 'Inter_b';
    font-size: 15px;
    margin: 0;
}





/* club card*/


.club-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin: 121px auto 60px;
    max-width: 1400px;
    padding: 0 20px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.club-card {
    border-radius: 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}



.card-expand-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
}


.club-card:target .card-expand-area {
    display: none;
}


.arrow-btn, .select-btn {
    position: relative;
    z-index: 10;
}


.club-card:not(:target):hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}







.club-card.active {
    background-color: #00173C;
    color: white;
    width: 400px;
    height: 450px;
}


.club-card:not(.active) {
    width: 170px;
    height: 450px;
    justify-content: flex-start;
    position: relative;
}



.card-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    gap: 10px;
    padding-bottom: 20px;
    height: 100%;
}

.title-inactive {
    color: white;
    font-family: 'Inter_b';
    font-size: 20px;
    margin: 0;
}




.dark-blue {
    box-sizing: border-box;
    background-color: #5483DF;
}

.light-blue {
    box-sizing: border-box;
    background-color: #9AB3DA;
}

.gray {
    box-sizing: border-box;
    background-color: #6B7180;
}





.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px 24px 20px 24px;
    height: calc(100% - 60px);
    position: relative;
    z-index: 2;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 100px 0px 0px;
    margin-bottom: 5px;
}

.title-active {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0;
    color: white;
    text-align: left;
}

.card-features {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    margin-bottom: 5px;
}

.card-features li {
    font-family: 'Inter_r';
    font-size: 15px;
    position: relative;
    color: white;
    padding-left: 20px;
    line-height: 1.4;
    text-align: left;
}

.card-features li::before {
    content: "•";
    position: absolute;
    left: 0px;
    color: white;
    font-size: 18px;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    gap: 20px;
}

.price {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0;
    color: white;
    margin-right: auto;
}




.select-btn {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Inter_b';
    font-size: 15px;
    text-decoration: none;
    justify-content: center;
    box-sizing: border-box;
}

.active-btn {
    background-color: white;
    color: #00173C;
    width: 350px;
    gap: 194px;
    border: none;
}

.active-btn:hover {
    transform: translateY(-2px);
}

.inactive-btn {
    background-color: #00173C;
    color: white;
    width: 141px;
    gap: 25px;
    border: none;
}

.inactive-btn:hover {
    transform: translateY(-2px);
}

.arrow-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.arrow-btn img {
    width: 100%;
    height: auto;
}

.card-icon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 1;
}





/* Анимация клубных карт */
.club-card { 
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 450px;
    border-radius: 20px;
}


.club-card .card-content {
    display: none;
}

.club-card .card-preview {
    display: flex;
}


.club-card:target {
    background-color: #00173C !important;
    width: 400px !important;
    height: 450px !important;
}

.club-card:target .card-content {
    display: flex;
    margin-top: 40px;
    padding-top: 20px;
}

.club-card:target .card-preview {
    display: none;
    margin-top: auto;
    padding-top: 20px;
}


.club-card .arrow-up {
    display: none;
}

.club-card:target .arrow-down {
    display: none;
}

.club-card:target .arrow-up {
    display: block;
}

.club-card:target .arrow-btn {
    cursor: pointer;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.club-card:target .card-content {
    animation: slideIn 0.3s ease-out;
}


.arrow-btn,
.select-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.club-card.active {
    display: none;
}


.club-card:target .arrow-btn {
    top: 15px;
    right: 15px;
}


.club-card .arrow-btn {
    top: 15px;
    right: 15px;
}

/*  */







.about-club {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.about {
    font-family: 'Inter_r';
    font-size: 32px;
    color: #6B7180;
    margin: 30px 0;
    text-align: left;
    width: 100%;
}

.about span {
    font-family: 'Inter_b';
    font-size: 32px;
    color: #00173C;
}

.video-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto 40px;
}


.video-placeholder video {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    object-fit: contain;
}










/* modal */



.head-form-r {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(255, 255, 255, 0.8);
    /* padding: 40px; */
    padding: 59px 70px 0px;
    box-sizing: border-box;
    border-radius: 40px;
    border: solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 454px;
    height: 646px;
    opacity: 0;
    transition: all 0.3s ease;
}


.form-r {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 23, 60, 0.3);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#modal_registration {
    display: none;
}

#modal_registration:checked~.form-r {
    opacity: 1;
    visibility: visible;
}

#modal_registration:checked~.form-r .head-form-r {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.head-form-r h3 {
    justify-content: center;
    text-align: center;
    color: #00173C;
    font-family: 'Inter_r';
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0px 0px 40px;
}

.head-form-r button[type="submit"] {
    width: 100%;
    padding: 5px 17px;
    background-color: #00173C;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-family: 'Inter_b';
    width: 233px;
    height: 38px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: block;
    margin: 0 auto;
}

.head-form-r button[type="submit"]:hover {
    transform: translateY(-1px);
}

.head-form-r button[type="submit"]:active {
    transform: translateY(0);
}



.check_r {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
}

.check_r label {
    color: #6B7180;
    font-family: 'Inter_b';
    font-size: 11px;
    cursor: pointer;
    order: 2;
}

.check_r input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #00173C;
    cursor: pointer;
    order: 1;
}







.head-form-a {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(255, 255, 255, 0.8);
    /* padding: 40px; */
    padding: 59px 70px 0px;
    box-sizing: border-box;
    border-radius: 40px;
    border: solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    /* z-index: 1000; */
    width: 454px;
    height: 470px;
    opacity: 0;
    transition: all 0.3s ease;
}


.form-a {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 23, 60, 0.3);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#modal_auth {
    display: none;
}

#modal_auth:checked~.form-a {
    opacity: 1;
    visibility: visible;
}

#modal_auth:checked~.form-a .head-form-a {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.head-form-a h3 {
    justify-content: center;
    text-align: center;
    color: #00173C;
    font-family: 'Inter_r';
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0px 0px 40px;
}

.field {
    justify-content: center;
    margin-bottom: 40px;
    width: 300px;
    height: 48px;
    position: relative;
}

.field label {
    display: block;
    color: #6B7180;
    font-family: 'Inter_b';
    font-size: 18px;
}

.field input {
    width: 100%;
    padding: 15px 17px;
    border-radius: 40px;
    border: none;
    background: white;
    font-family: 'Inter_b';
    font-size: 18px;
    transition: box-shadow 0.3s;
    box-sizing: border-box;
}

.field input:focus {
    outline: none;
    border-color: #00173C;
    box-shadow: 0 0 0 3px rgba(0, 23, 60, 0.3);
}

.field input::placeholder {
    color: #6B7180;
}

.check_a {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
}


.check_a label {
    color: #6B7180;
    font-family: 'Inter_b';
    font-size: 18px;
    cursor: pointer;
    order: 2;
}

.check_a input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #00173C;
    cursor: pointer;
    order: 1;
}


.head-form-a button[type="submit"] {
    width: 100%;
    padding: 5px 17px;
    background-color: #00173C;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-family: 'Inter_b';
    width: 150px;
    height: 38px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: block;
    margin: 0 auto;
}

.head-form-a button[type="submit"]:hover {
    transform: translateY(-1px);
}

.head-form-a button[type="submit"]:active {
    transform: translateY(0);
}

.close-btn {
    position: absolute ;
    top: 15px !important;
    right: 15px !important;
    background: none;
    border: none;
    font-size: 35px ;
    font-weight: 200 ;
    color: #6B7180 ;
    cursor: pointer ;
    width: 35px ;
    height: 35px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    border-radius: 40px ;
    transition: all 0.3s ease ;
    z-index: 1001 ;
}

.close-btn:hover {
    background-color: rgba(0, 23, 60, 0.1) ;
    color: #00173C ;
    transform: scale(1.1) ;
}

.close-btn:active {
    transform: scale(0.95) ;
}




/* directions */

.directions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px 40px;
    margin: 100px 40px 40px;
align-items: center;
}

.item_img{
    grid-column: span 2;
    width: 100%;
    height: 383px;
    object-fit: cover;
    border-radius: 40px;
}

.explanation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 179, 218, 0.7);
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    gap: 30px;
    min-height: 383px;
}

.explanation h4{
    font-family: 'Inter_r';
    font-size: 32px;
    font-weight: 400;
    color: #00173C;
    margin: 0;
}

.explanation p{
    font-family: 'Inter_r';
    font-size: 20px;
    font-weight: 400;
    color: #00173C;
    margin: 0;
    max-width: 391px;
    height: auto;
}

.record-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px 40px;
}

.record_btn{
font-family: 'Inter_r';
    font-size: 16px;
    color: white;
    background-color: #5483DF;
    border: none;
    padding: 5px 17px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
}


.record_btn:hover {
    transform: translateY(-2px);
}


@media (max-width: 900px) {
    .directions{
        grid-template-columns: 1fr;
        margin: 60px 20px 20px;
    }

    .item_img, .explanation{
grid-column: 1;
    }

.explanation p {
    width: 100%;
    max-width: 391px;
}

}


/* modal_record */

.head-form-rec {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 59px 70px 0px;
    box-sizing: border-box;
    border-radius: 40px;
    border: solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 454px;
    height: 489px;
    opacity: 0;
    transition: all 0.3s ease;
}


.form-rec {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 23, 60, 0.3);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#modal_record {
    display: none;
}

#modal_record:checked~.form-rec {
    opacity: 1;
    visibility: visible;
}

#modal_record:checked~.form-rec .head-form-rec {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.head-form-rec h3 {
    justify-content: center;
    text-align: center;
    color: #00173C;
    font-family: 'Inter_r';
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 0px 0px 40px;
}

.form-rec select{
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Inter_b';
    font-size: 18px;
    color: #6B7180;
    width: 300px;
    height: 48px;
    border-radius: 30px;
    border: none;
    position: relative
}

.form-rec option{
    font-family: 'Inter_r';
    font-size: 20px;
    color: #00173C;
}

.proof-btn {
    width: 100%;
    padding: 5px 17px;
    background-color: #00173C;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-family: 'Inter_b';
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
    text-align: center;
    display: block;
    box-sizing: border-box;
    max-width: 144px;
}

.proof-btn:hover {
    transform: translateY(-1px);
}

.proof-btn:active {
    transform: translateY(0);
}



/*  */


h4{
    font-family: 'Inter_r';
    font-size: 32px;
    font-weight: 400;
    color: #00173C;
    margin: 10px;
}


.schedule {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr) );
    justify-content: center;
    gap: 20px 15px;
    margin: 20px 40px 40px;
}

.data{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr) );
    gap: 20px 15px;
    margin: 20px 40px 40px;
}

.data p {
    font-family: 'Inter_r';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 10px 5px;
}

.workout{
    color: white;
    background-color: rgb(154, 179, 218, 0.7);
    border-radius: 30px;
    width: 180px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.workout:hover {
    transform: translateY(-2px);
}


.record_btn2{
    font-family: 'Inter_r';
    font-size: 32px;
    color: white;
    background-color: #00173C;
    border: none;
    padding: 5px 17px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.record_btn2:hover {
    transform: translateY(-1px);
}

@media (max-width: 768px) {
    .schedule{
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr) );
        gap: 20px 15px;
        margin: 20px 10px 40px;
        padding: 0 10px;
    }

    .data{
        font-size: 16px;
        padding: 8px 3px ;
    }

    .workout{
        min-height: 90px;
    }

}



/* coaches */



#carouselExampleIndicators{
    margin: 100px 20px 50px;
    max-width: 1400px;
    width: 100%;
}

.carousel-inner {
padding: 0px 10px 0px;
width: 100%;
}

.carousel-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    min-height: 500px;
    justify-content: space-between;
    align-items: stretch;
}


.nameL{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
    min-width: 0;
    color: #00173C;
    background-image: url(../img/coauches/right.svg);
    background-size: contain;
    background-position: center 0px;
    background-repeat: no-repeat;
    max-width: 670px;
    height: auto;
}

.nameL p{
    font-family: 'Inter_r';
    font-size: 24px;
    color: #00173C;
    max-width: 521px;
}

.nameL span{
    font-family: 'Inter_b';
    font-size: 24px;
    color: #00173C;
    max-width: 521px;
}

.nameR p{
    font-family: 'Inter_r';
    font-size: 24px;
    color: #00173C;
    max-width: 521px;
}

.nameR span{
    font-family: 'Inter_b';
    font-size: 24px;
    color: #00173C;
    max-width: 521px;
}

.nameR{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
    min-width: 0;
    color: #00173C;
    background-image: url(../img/coauches/left.svg);
    background-size: contain;
    background-position: center 0px;
    background-repeat: no-repeat;
    max-width: 670px;
    height: auto;
}



.name{
    background-color: #9AB3DA;
    color: #00173C;
    border-radius: 20px;
    text-align: center;
    max-width: 492px;
    height: auto;
}

.name p {
    font-family: 'Inter_b';
    font-size: 32px;
    margin: 20px 0;
}

.hall_portrait{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    flex: 1;
    min-width: 0;
    gap: 20px;
}


.coach{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00173C;
    border-radius: 30px;
    padding: 28px;
    box-sizing: border-box;
    max-width: 670px;
    height: auto;
    /*  max-height: 254px;  */
    gap: 20px;
    align-items: center;
}
.coach p {
    color: white;
    font-family: 'Inter_r';
    font-size: 24px;
}

.portrait{
    max-width: 157px;
    height: auto;
}

.hall img{
    max-width: 100%;
    height: auto;
}

