@font-face {
    font-family: 'Inter_b';
    src: url('../fonts/inter/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter_r';
    src: url('../fonts/inter/Inter-Regular.otf');
}


.inter_18_bold {
    font-family: 'Inter_b';
    font-size: 18px;
    margin: 0px;
}

.inter_24_bold {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0px;
}

.inter_20_bold {
    font-family: 'Inter_b';
    font-size: 20px;
    margin: 0px;
}

.inter_15_bold {
    font-family: 'Inter_b';
    font-size: 15px;
    margin: 0px;
}

.inter_24_regular {
    font-family: 'Inter_r';
    font-size: 24px;
    margin: 0px;
}

.inter_20_regular {
    font-family: 'Inter_r';
    font-size: 20px;
    margin: 0px;
}

.inter_15_regular {
    font-family: 'Inter_r';
    font-size: 15px;
    margin: 0px;
}

.inter_32_regular {
    font-family: 'Inter_r';
    font-size: 32px;
    margin: 0px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    color: #00173C;
    font-family: 'Inter_b';
    font-size: 32px;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 0px 20px;
    gap: 152px;
    height: 0px;
}

button {
    padding: 5px 17px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 80px;
}

nav a {
    font-family: 'Inter_r';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #00173C;
    gap: 80px;
}

.nav2 {
    font-family: 'Inter_r';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #00173C;
    gap: 5px;
}

.nav-button {
    font-family: 'Inter_r';
    font-size: 16px;
    display: flex;
    color: white;
    background-color: #00173C;
    border: none;
    border-radius: 30px;
}

.nav-button2 {
    font-family: 'Inter_r';
    font-size: 16px;
    display: flex;
    color: #00173C;
    background-color: transparent;
    border: 1px solid #00173C;
    border-radius: 30px;
}

.logo {
    display: flex;
    width: 131px;
    height: 47px;

}

.banner {
    display: flex;
    color: white;
    background-image: url(../img/index/фонГлавная1.png);
    background-size: 1360px, 781px, cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: wrap;
    height: 801px;
}

.heading {
    display: flex;
    font-family: 'Inter_b';
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 109px;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo2 {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
    height: 91px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 397px;
    gap: 426px;
}






.info-box {
    background-color: rgb(154, 179, 218, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 30px;
    width: 523px;
    height: 227px;
    justify-content: end;
}

.text1 {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 20px 0px 0px;
    margin-left: 20;
}

.text2 {
    font-family: 'Inter_r';
    font-size: 24px;
    margin: 0;
    margin-left: 20;
}

.action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1px;
    background-color: rgb(0, 23, 60, 0.4);
    border-radius: 30px;
    width: 401px;
    height: 201px;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
}

.zero {
    margin: 30px 55px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    gap: 20px;
}

.img-zero {
    display: flex;
    width: 60px;
    height: 60px;
}

.text3 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter_r';
    font-size: 20px;
    color: white;
    width: 211px;
}






.action-button {
    margin: 0px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Inter_r';
    font-size: 24px;
    align-items: center;
    
    width: 361px;
    height: 75px;
    border-radius: 30px;
}

.action-button a {
    text-decoration: none;
}

.button-a {
    font-family: 'Inter_r';
    font-size: 24px;
    text-align: center;
    display: flex;
    color: white;
    background-color: #00173C;
    border: none;
    align-items: flex-end;
    border-radius: 30px;
}

.img-arrow {
    position: relative;
    display: inline-block;
    right: 85px;
    width: 38px;
    height: 22px;
    margin: 3px;
}









.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 94px;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    width: 234px;

}

.text-advantages1{
    font-family: 'Inter_b';
    font-size: 20px;
    color: #00173C;
    align-items: baseline;
}

.text-advantages2{
    font-family: 'Inter_r';
    font-size: 15px;
    color: #6B7180;
    align-items: baseline;
}

.icon1 {
    display: flex;
    width: 106px;
    height: 140px;
}

.icon2 {
    display: flex;
    width: 151px;
    height: 160.03px;
}

.icon3 {
    display: flex;
    width: 123px;
    height: 135px;
}

.icon4 {
    display: flex;
    width: 71px;
    height: 117px;
}

.action {
    display: flex;
}



.season-tickets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.img-icon{
    display: flex;
    width: 300px;
    height: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #00173C;
    width: 257px;
    height: 387px;
    border-radius: 20px;
}


.banner2 {
    display: flex;
    background-image: url(../img/index/конецГлавное\(1\).png);
    background-size: 1360px, 781px, cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    color: #00173C;
}
.logo-banner{}

