@font-face {
    font-family: 'Inter_b';
    src: url('../fonts/inter/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter_r';
    src: url('../fonts/inter/Inter-Regular.otf');
}


.inter_18_bold {
    font-family: 'Inter_b';
    font-size: 18px;
    margin: 0px;
}

.inter_24_bold {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 0px;
}

.inter_20_bold {
    font-family: 'Inter_b';
    font-size: 20px;
    margin: 0px;
}

.inter_15_bold {
    font-family: 'Inter_b';
    font-size: 15px;
    margin: 0px;
}

.inter_24_regular {
    font-family: 'Inter_r';
    font-size: 24px;
    margin: 0px;
}

.inter_20_regular {
    font-family: 'Inter_r';
    font-size: 20px;
    margin: 0px;
}

.inter_15_regular {
    font-family: 'Inter_r';
    font-size: 15px;
    margin: 0px;
}

.inter_32_regular {
    font-family: 'Inter_r';
    font-size: 32px;
    margin: 0px;
}

h2 {
    color: #00173C;
    font-family: 'Inter_b';
    font-size: 32px;
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 0px 40px;
    gap: 152px;
    height: 0px;
}

nav {
    display: flex;
    gap: 230px;
}

nav a {
    font-family: 'Inter_r';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: #00173C;
    gap: 100px;
}

.nav2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #00173C;
    gap: 5px;
}

.logo {
    display: flex;
    width: 131px;
    height: 47px;

}

.banner {
    display: flex;
    color: white;
    background-image: url(../img/index/фонГлавная1.png);
    background-size: cover;
    background-position: center 0px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1080px;
}

.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 170px;
    align-items: center;
}

.logo2 {
    display: flex;
    width: 256px;
    height: 91px;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: row;
    padding-top: 480px;
    align-items: flex-end;
    gap: 580px;
}

.info-box {
    background-color: rgb(154, 179, 218, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 30px;
    width: 740px;
    height: 227px;
    justify-content: end;
}

.text1 {
    font-family: 'Inter_b';
    font-size: 24px;
    margin: 20px 0px 0px;
    margin-left: 20;
}

.text2 {
    font-family: 'Inter_r';
    font-size: 24px;
    margin: 0;
    margin-left: 20;
}

.action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    background-color: rgb(0, 23, 60, 0.4);
    border-radius: 30px;
    width: 565px;
    height: 201px;
    justify-content: flex-end;
    align-content: flex-end;
}

.zero {
    margin: 30px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    gap: 20px;
}

.img-zero {
    display: flex;
    width: 60px;
    height: 60px;
}

.text3 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter_r';
    font-size: 20px;
    color: white;
    width: 211px;
}

.action-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-family: 'Inter_r';
    font-size: 24px;
    width: 361px;
    height: 75px;
    border-radius: 30px;
}

.button1 {
    display: flex;
    color: white;
    background-color: #00173C;
}

.img-arrow {
    width: 38px;
}

.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 94px;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    width: 234px;

}

.icon1 {
    display: flex;
    width: 106px;
    height: 140px;
}

.icon2 {
    display: flex;
    width: 151px;
    height: 160.03px;
}

.icon3 {
    display: flex;
    width: 123px;
    height: 135px;
}

.icon4 {
    display: flex;
    width: 71px;
    height: 117px;
}

.action {
    display: flex;
}

.card {
    color: white;
    background-color: #00173C;
}


.banner2 {
    background-image: url(../img/index/конецГлавное\(1\).png);
}