@font-face {
    font-family: 'Inter_b';
    src: url('../fonts/inter/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter_r';
    src: url('../fonts/inter/Inter-Regular.otf');
}

@font-face {
    font-family: 'Jaldi_b';
    src: url('../fonts/jaldi/Jaldi-Bold.ttf');
}

@font-face {
    font-family: 'Jaldi_r';
    src: url('../fonts/jaldi/Jaldi-Regular.ttf');
}

.inter_18_bold{
    font-family: 'Inter_b';
    font-size: 18px;
}

.inter_24_bold{
    font-family: 'Inter_b';
    font-size: 24px;
}
.inter_20_bold{
    font-family: 'Inter_b';
    font-size: 20px;
}
.inter_15_bold{
    font-family: 'Inter_b';
    font-size: 15px;
}
.inter_24_regular{
    font-family: 'Inter_r';
    font-size: 24px;
}
.inter_20_regular{
    font-family: 'Inter_r';
    font-size: 20px;
}
.inter_15_regular{
    font-family: 'Inter_r';
    font-size: 15px;
}
.jaldi_32_regular{
    font-family: 'Jaldi_r';
    font-size: 32px;
}
.jaldi_15_regular{
    font-family: 'Jaldi_r';
    font-size: 15px;
}
button{
    color: #ffff;
    background-color: #00173C;
    border: none;
    border-radius: 40px;
    width: 150;
    height: 38;
}
input{
    border-radius: 40px;
    border: none;
    background-color: #ffff;
    color: #6B7180;
    width:300px ;
    height: 48px;
}