@font-face {
    font-family: 'Inter_b';
    src: url('../fonts/inter/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter_r';
    src: url('../fonts/inter/Inter-Regular.otf');
}


.inter_18_bold {
    font-family: 'Inter_b';
    font-size: 18px;
}

.inter_24_bold {
    font-family: 'Inter_b';
    font-size: 24px;
}

.inter_20_bold {
    font-family: 'Inter_b';
    font-size: 20px;
}

.inter_15_bold {
    font-family: 'Inter_b';
    font-size: 15px;
}

.inter_24_regular {
    font-family: 'Inter_r';
    font-size: 24px;
}

.inter_20_regular {
    font-family: 'Inter_r';
    font-size: 20px;
}

.inter_15_regular {
    font-family: 'Inter_r';
    font-size: 15px;
}

.inter_32_regular {
    font-family: 'Inter_r';
    font-size: 32px;
}

h2 {
    color: #00173C;
    font-family: 'Inter_b';
    font-size: 32px;
}

header {
    display: flex;
    flex-direction: row;

    .logo {
        width: 131px;
        height: 47px;
    }
}

.banner {
    color: white;
    background-image: url(../img/index/фонГлавная1.png);
    background-size: 1360px;
    background-position: center 0px;

    .heading.logo2 {
        width: 257;
        height: 123;
        background-position: center 110px;
    }
}

.card {
    color: white;
    background-color: #00173C;
}


.banner2 {
    background-image: url(../img/index/конецГлавное\(1\).png);
}